html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 100vh;
  min-height: 100vh;
  width: 100vw;
}

.screen {
  box-sizing: border-box;
  padding-top: 50pt;
  margin-bottom: 10px;
  max-height: 100vh;
  min-height: 100vh;
  overflow-y: scroll;
  width: 100%;
  max-width: 700px;
  display: block;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.hidden {
  display: none !important;
}

.app {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  margin: 10px;
  vertical-align: middle;
}

.app>* {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 15px;;
}

a {
  text-decoration: none;
}

#apps {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: left;
  align-items: self-start;
  text-align: center;
}

#navBack {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  text-decoration: none;
  padding: 3px;
  font-size: 10pt;
  padding-left: 5px;
  padding-right: 5px;
}

#navBack.show {
  display: initial;
}

#titleBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15pt;
}

textarea {
  box-sizing: border-box;
  height: 10em;
  width: 100%;
}

button {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

input {
  width: 100%;
}

.spacer {
  padding: 0.25em;
}

#findReplaceResult {
  font-family: monospace;
  white-space: pre;
  padding: 0.1em;
  max-width: 100%;
  overflow-x: scroll;
}

#findReplaceResult>* {
  padding: 0;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 10px 20px;
}